.input {
	border: solid 1px transparent;
	width: 16px;
	height: 16px;
}

:global(.light) .input[type="checkbox"] {
	border-radius: var(--radius-2);
}

/* BASE COLOR */

:global(.light) .input,
:global(.light) .input:indeterminate {
	background-color: white;
	border-color: var(--gray-2);
}

:global(.light) .input:hover,
:global(.light) .input:indeterminate:hover {
	border-color: var(--highlight-11);
}
:global(.light) .input:focus,
:global(.light) .input:indeterminate:focus,
:global(.light) .input:checked:focus {
	box-shadow: none;
}

:global(.dark) .input {
	background-color: var(--gray-8);
	border-color: var(--gray-6);
}
:global(.dark) .input:hover {
	background-color: var(--gray-7);
}
:global(.dark) .input:active {
	background-color: var(--gray-9);
}

/* CHECKED */

:global(.light) .input:checked {
	background-color: var(--highlight-4);
	border-color: var(--highlight-4);
}

:global(.light) .input:checked:hover {
	border-color: var(--highlight-11);
}

:global(.dark) .input:checked,
:global(.dark) .input:indeterminate {
	background-color: var(--highlight-4);
	border-color: transparent;
}
:global(.dark) .input:checked:hover,
:global(.dark) .input:indeterminate:hover {
	background-color: var(--highlight-2);
}
:global(.dark) .input:checked:active,
:global(.dark) .input:indeterminate:active {
	background-color: var(--highlight-5);
}

/* DISABLED */

:global(.light) .input:disabled,
:global(.light) .input:checked:disabled,
:global(.light) .input:indeterminate:disabled {
	color: var(--gray-3);
	box-shadow: none;
	background-color: var(--gray-1);
	border-color: var(--gray-2);
}

:global(.dark) .input:disabled,
:global(.dark) .input:checked:disabled,
:global(.dark) .input:indeterminate:disabled {
	color: var(--gray-4);
	background-color: var(--gray-7);
	box-shadow: none;
	border-color: var(--gray-9);
}

/* ICON */

.icon > svg {
	width: 14px;
	height: 14px;
}

:global(.light) .icon {
	color: var(--gray-8);
	top: 1px;
	left: 1px;
}

:global(.light) .input:indeterminate ~ .icon {
	color: var(--highlight-4);
}
:global(.light) .input:disabled ~ .icon {
	color: var(--gray-3);
}

:global(.dark) .icon {
	color: var(--gray-8);
}
:global(.dark) .input:disabled ~ .icon {
	color: var(--gray-3);
}

/* LABEL */
:global(.light) .input .label {
	color: var(--gray-8);
}

:global(.light) .input:disabled ~ .label {
	color: var(--gray-3);
}

:global(.dark) .input:disabled ~ .label {
	color: var(--gray-3);
}
