.footer {
	border-top: dashed 1px var(--gray-1);
	margin-bottom: 16px;
	padding-top: 8px;
}

.footerItems:hover,
.footerItems:active {
	background-color: var(--gray-0);
	cursor: pointer;
}

.footerItems:active,
.active {
	color: var(--gray-8);
}

.footerItems {
	display: flex;
	align-items: center;
	font-size: 14px;
	font-weight: 600;
	margin: 0 8px;
	padding: 8px 10px;
	border-radius: 6px;
	color: var(--gray-4);
	background-color: white;
}

.footerItemsTitle {
	margin-left: 15px;
}

.icon {
	margin: 2.5px;
}

.icon > svg {
	width: 14.7px;
	height: 14.7px;
}
