.container {
	display: flex;
	align-items: center;
	font-size: 14px;
	font-weight: 600;
	padding: 0 8px;
	border-radius: 6px;
	color: var(--gray-4);
}

.container:hover,
.root {
	background-color: var(--gray-0);
}

.active {
	color: var(--gray-8);
}

.line {
	border-left: solid 1px var(--gray-1);
	padding-left: 24px !important;
	margin-left: 7px;
}

.active .line {
	border-color: var(--gray-8);
}

.right {
	margin-left: auto;
	color: var(--gray-8);
}

.icon {
	margin: 1px;
}

.title {
	padding: 10px;
}

.dropdown {
	margin-left: 13px;
}
